body {
    font-family: Arial, sans-serif; 
    margin: 0;
    padding: 20px;
    background-color: #f0f5f8; /* Light, airy background */
    color: #333; /* Dark text */
}

.Flight_Information {
    content: '';
    display: block;
    border-bottom: 3px solid #2473b5; ; /* Change this to your desired line style */
    margin: 10px 0; /* Adjust margin as needed */

}

.container {
    width: 400px; 
    margin: 80px auto; /* Centers the container horizontally */
    background-color: #fff; /* White background for contrast */
    padding: 30px;
    border-radius: 8px; /* Slightly rounded corners */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}



h1 {
    color: #2473b5;  /* Eye-catching blue */
    text-align: center;
    margin-bottom: 25px;
}

.h3 { /* Styling for the "What would you like to do?" subtitle */
    margin-bottom: 10px;
} 

/* Form Styles */
label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="password"], select {
    width: 100%; 
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #2473b5;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth color change on hover */
}

input[type="submit"]:hover {
    background-color: #18568c; /* Darker blue on hover */
}

/* Customer Info Styles */
.customer-info {
    border: 1px solid #ddd; 
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
}

.customer-info p {
    margin-bottom: 5px;
}
